<?xml version="1.0" encoding="UTF-8"?>

<handler>
    <productType>
        <name>MORCR143LLDY</name>
        <sigevent>
            <category>MORCR143LLDY</category>
            <endpoint>http://localhost:8888/sigevent/</endpoint>
        </sigevent>
        <trigger>
            <startDelay>1</startDelay>
            <repeatInterval>60</repeatInterval>
        </trigger>
        <endpoint>http://lance2.modaps.eosdis.nasa.gov/imagery/subsets/RRGlobal_r${row}c${column}/${yyyy}${DDD}/</endpoint>
        <tile>
            <row start="0" end="19"/>
            <column start="0" end="39"/>
        </tile>
        <fileSet>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.aqua.250m.jpg</expression>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.aqua.250m.jgw</expression>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.aqua.txt</expression>
        </fileSet>
    </productType>
    <productType>
        <name>MYRCR143LLDY</name>
        <sigevent>
            <category>MYRCR143LLDY</category>
            <endpoint>http://localhost:8888/sigevent/</endpoint>
        </sigevent>
        <trigger>
            <startDelay>1</startDelay>
            <repeatInterval>60</repeatInterval>
        </trigger>
        <endpoint>http://lance2.modaps.eosdis.nasa.gov/imagery/subsets/RRGlobal_r${row}c${column}/${yyyy}${DDD}/</endpoint>
        <tile>
            <row start="0" end="19"/>
            <column start="0" end="39"/>
        </tile>
        <fileSet>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.250m.jpg</expression>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.250m.jgw</expression>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.txt</expression>
        </fileSet>
    </productType>
    <productType>
        <name>MORCR721LLDY</name>
        <sigevent>
            <category>MORCR721LLDY</category>
            <endpoint>http://localhost:8888/sigevent/</endpoint>
        </sigevent>
        <trigger>
            <startDelay>1</startDelay>
            <repeatInterval>60</repeatInterval>
        </trigger>
        <endpoint>http://lance2.modaps.eosdis.nasa.gov/imagery/subsets/RRGlobal_r${row}c${column}/${yyyy}${DDD}/</endpoint>
        <tile>
            <row start="0" end="19"/>
            <column start="0" end="39"/>
        </tile>
        <fileSet>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.721.250m.jpg</expression>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.721.250m.jgw</expression>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.txt</expression>
        </fileSet>
    </productType>
    <productType>
        <name>MORCR367LLDY</name>
        <sigevent>
            <category>MORCR367LLDY</category>
            <endpoint>http://localhost:8888/sigevent/</endpoint>
        </sigevent>
        <trigger>
            <startDelay>1</startDelay>
            <repeatInterval>60</repeatInterval>
        </trigger>
        <endpoint>http://lance2.modaps.eosdis.nasa.gov/imagery/subsets/RRGlobal_r${row}c${column}/${yyyy}${DDD}/</endpoint>
        <tile>
            <row start="0" end="19"/>
            <column start="0" end="39"/>
        </tile>
        <fileSet>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.367.250m.jpg</expression>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.367.250m.jgw</expression>
            <expression>RRGlobal_r${row}c${column}.${yyyy}${DDD}.terra.txt</expression>
        </fileSet>
    </productType>
</handler>
