distribute.mrf.output.path=/usr/local/tie_data/handler
distribute.mrf.extrafiles.path=/usr/local/tie_data/mrfgen

distribute.sleep.seconds=10

# Cache path defaults if left empty to {user.home}/.horizon/subscriber-cache
distribute.cache.path=

distribute.subscriber.class=gov.nasa.gibs.distribute.subscriber.plugins.IWSSubscriber

sigevent.url=http://localhost:8100/sigevent
inventory.url=http://localhost:9192
zookeeper.url=localhost:2181
