log4j.configuration=file://${distribute.home}/config/distribute.log.properties
inventory.hibernate.config.file=${distribute.home}/config/hibernate.cfg.xml
distribute.output.base.path=${distribute.output.base.path}
distribute.exec.cmd=ls -l $dir/$name
sig.event.url=http://lanina.jpl.nasa.gov:8100/sigevent
execution.sig.category=NAIAD
distribute.sleep.minutes=${distribute.sleep.minutes}
distribute.subscriber.class=gov.nasa.podaac.distribute.subscriber.plugins.BasicSubscriber
distribute.data.retriever.class=gov.nasa.podaac.distribute.subscriber.plugins.BasicDataRetriever
